@charset "utf-8";
/* All about */
@media all
{
	* {
		margin: 0;
		padding: 0;
		border: 0;
		-webkit-touch-callout:none;
		-webkit-text-size-adjust:none;
	}
	
	body {
		-webkit-user-select:none;
		width: 100%;
		height: 100%;
		font-family:Helvetica;
	}
	
	a {
		color: black;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	a:link {
		color: black;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	a:visited {
		color: black;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	a:active {
		color: black;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	a:hover {
		color: black;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	ul {
		list-style:none;
		padding:0;
		margin:0;
		width:100%;
	}
	
	.scrollwrapper {
		-webkit-box-flex: 1;
		box-flex: 1;
		overflow-y:auto;
		overflow-x:none;
		-webkit-overflow-scrolling : touch;
	}
	
	.master {
		position:absolute;
		top:0;
		width:100%;
		bottom:0;
		left:0;      
	}
	
	.vflex {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-align: stretch;
		-webkit-box-flex: 1; 
		box-flex: 1;
	}
	
	.scrolling {
		-webkit-overflow-scrolling: touch;
		overflow:auto;      
	}
	
	.bounce-fix {
		margin-bottom:-1px; /* this adds an extra pixel that's needed to keep the browser from bouncing when the content is too short */
	}
	
	button.button {
		display : block; 
		position: absolute;
		z-index : 4;
		height:   30px;
		width:    auto;
		padding: 0 8px 0 8px;
	
		background-repeat:repeat-x;
		-webkit-background-size : 30px;
		background-position :0;
		background-image : -webkit-linear-gradient(
			bottom,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0) 45%,
			rgba(255,255,255,0.1) 45%,
			rgba(255,255,255,0.3) 100%
			);
	
		-webkit-border-radius: 5px;
	
		border-bottom: 1px solid rgba(255,255,255,0.4);
	
		-webkit-box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset, 0 1px 2px rgba(0,0,0,0.8)inset;
			
		text-decoration: none;
		font-family : Helvetica;
		font-weight : bold;
		font-size : 12pt;
		line-height : 30px;
		text-align:center;
		color:#fff;
		text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	button.button {
		/*background-color: rgba(74,108,155,1);*/
		background-color: rgba(172,128,125,1);
	}
	
	button.button.over {
		/*background-color: rgba(54,88,135,1);*/
		background-color: rgba(150,100,96,1);
	}
	
	input {
		border: 1px solid grey;
		font-size:14pt;
		width: 250px;
		height: 25px;
	}
	
	div#otpdisplay {
		position:absolute;
		width:100%;
		top:30%;
	}
	
	span#otp {
		font-family:Helvetica;
		font-weight : bold;
		font-size : 17pt;
		line-height : 30px;
		color: rgba(172,128,125,1);
		text-shadow : 0px -1px 0px rgba(150,100,96,0.8);
	}
	
	#progress-bar {border:1px solid #bebebe; background:#ffffff; width:177px; height:15px; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px;}
	#status {float:left; background:#0066cc; height:15px; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px;}
}

/* mobile Portrait */
@media only screen and (max-width:320px) and (orientation:portrait)
{
	header {
		top:0; left:0;
		position:fixed;
		width:100%;
		z-index:2;
		padding:0;
		height: 45px;
		line-height: 45px;
		
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-top: 1px solid #000;
		border-bottom: 1px solid transparent !important;
		-webkit-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		-moz-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		box-shadow: 		0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		background: #b0bccd; /* Old browsers */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#c1a09d), color-stop(51%,#b18885), color-stop(100%,#a2716d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Chrome10+,Safari5.1+ */
		background:    -moz-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* FF3.6+ */
		background:     -ms-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* IE10+ */
		background:      -o-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Opera 11.10+ */
		background:         linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0bccd', endColorstr='#6d84a2',GradientType=0 ); /* IE6-9 */
		
		color: white;
		font-size: 15pt;
		font-weight: bold;
		text-shadow: #000 0 -1px 0;
		text-align: center;
	}
		header button.left {
			top:0px; left:0px;
			float:left;
			margin: 8px 0 0 12px;
			z-index:3;
		}
		
		header button.right {
			top:0px; right:0px;
			float:right;
			margin: 8px 12px 0 0;
			z-index:3;
		}
	
	section {
		top:45px; bottom:0; left:0; right:0;
		position:absolute;
		z-index:1;
		width:100%;
		background:#fff;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
		section div#passwordinputbox {
			position:relative;
			top:25px;
			width:300px;
			height:50px;
			border:1px solid black;
			padding-top:5px;
		}
			section div#passwordinputbox input {
				width:240px;
				height:40px;
				font-size:24pt;
				letter-spacing:40px;
				padding-left:40px;
				-webkit-appearance: none;
			}
		
		section div#passwordstatus {
			position:relative;
			width:300px;
			height:50px;
			border:1px solid black;
			margin-top:30px;
		}
			section div#passwordstatus span {
				text-align:center;
				font-size:10pt;
				letter-spacing:2px;
			}

		ul#servicelist li {
			height: 30px;
			line-height:30px;
			padding: 10px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
			ul#servicelist li div#leftlist {
				height:100%;
				width:236px;
				float:left;
				padding: 0 0 0 10px;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			
			ul#servicelist li div#rightlist {
				height:100%;
				width:44px;
				float:right;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				font-size : 17pt;
				text-align:center;
			}

		ul#addlist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
		
		ul#modifylist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
}

/* mobile Landscape */
@media only screen and (max-width:569px) and (orientation:landscape)
{	
	header {
		top:0; left:0;
		position:fixed;
		width:100%;
		z-index:2;
		padding:0;
		height: 45px;
		line-height: 45px;
		
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-top: 1px solid #000;
		border-bottom: 1px solid transparent !important;
		-webkit-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		-moz-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		box-shadow: 		0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		background: #b0bccd; /* Old browsers */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0b7b5), color-stop(50%,#c1a09d), color-stop(51%,#b18885), color-stop(100%,#a2716d)); /* Chrome,Safari4+ */
		/*background: -webkit-linear-gradient(top,  #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%); Chrome10+,Safari5.1+ */
		background: -webkit-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Chrome10+,Safari5.1+ */
		background:    -moz-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* FF3.6+ */
		background:     -ms-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* IE10+ */
		background:      -o-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Opera 11.10+ */
		background:         linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0bccd', endColorstr='#6d84a2',GradientType=0 ); /* IE6-9 */
		
		color: white;
		font-size: 15pt;
		font-weight: bold;
		text-shadow: #000 0 -1px 0;
		text-align: center;
	}
		header button.left {
			top:0px; left:0px;
			float:left;
			margin: 8px 0 0 12px;
			z-index:3;
		}
		
		header button.right {
			top:0px; right:0px;
			float:right;
			margin: 8px 12px 0 0;
			z-index:3;
		}
	
	section {
		background:#fff;
		top:45px; bottom:0; left:0; right:0;
		position:absolute;
		z-index:1;
		width:100%;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

		ul#servicelist li {
			height:30px;
			line-height:30px;
			padding: 10px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
			ul#servicelist li div#leftlist {
				height:100%;
				width:398px;
				float:left;
				padding: 0 0 0 10px;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			
			ul#servicelist li div#rightlist {
				height:100%;
				width:44px;
				float:right;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				font-size : 17pt;
				text-align:center;
			}
			
		ul#addlist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
		
		ul#modifylist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
}

/* Android Portrait */
@media only screen and (device-aspect-ratio:1.5) and (orientation:portrait)
{
	
}
	
/* Android Landscape */
@media only screen and (device-aspect-ratio:1.5) and (orientation:landscape)
{
	
}

/* iPhone Retina Portrait */
@media only screen and (device-aspect-ratio:2.0) and (orientation:portrait)
{
	
}
	
/* iPhone Retina Landscape */
@media only screen and (device-aspect-ratio:2.0) and (orientation:landscape)
{
	
}


/* iPad Portrait */
@media only screen and (width: 768px) and (orientation:portrait)
{
	header {
		top:0; left:0;
		position:fixed;
		width:100%;
		z-index:2;
		padding:0;
		height: 45px;
		line-height: 45px;
		
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-top: 1px solid #000;
		border-bottom: 1px solid transparent !important;
		-webkit-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		-moz-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		box-shadow: 		0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		background: #b0bccd; /* Old browsers */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#c1a09d), color-stop(51%,#b18885), color-stop(100%,#a2716d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Chrome10+,Safari5.1+ */
		background:    -moz-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* FF3.6+ */
		background:     -ms-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* IE10+ */
		background:      -o-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Opera 11.10+ */
		background:         linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0bccd', endColorstr='#6d84a2',GradientType=0 ); /* IE6-9 */
		
		color: white;
		font-size: 15pt;
		font-weight: bold;
		text-shadow: #000 0 -1px 0;
		text-align: center;
	}
	
		header button.left {
			top:0px; left:0px;
			margin: 8px 0 0 12px;
			z-index:3;
		}
		
		header button.right {
			top:0px; right:0px;
			margin: 8px 12px 0 0;
			z-index:3;
		}
	
	section {
		top:45px; bottom:0; left:0; right:0;
		position:absolute;
		z-index:1;
		width:100%;
		background:#fff;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
		#passwordview {
			height:35%;
			width:100%;
			background:#fff;
		}
			#passwordview .box {
				position:relative;
				top:25%;
				left:125px;
				height:52px;
				width:220px;
			}
				#passwordview .box .numberbox {
					float:left;
					background-color:rgba(155,122,113,1);
					width:45px;
					height:45px;
					margin: 2px 4px 2px 4px;
					
					border:1px solid black;
					-webkit-border-radius: 5px;
					text-align:center;
					font-size:28pt;
					color:white;
				}
		
		#passwordinput {
			background:#fff;
			height:65%;
			width:100%;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
		}
			#passwordinput button {
				position:relative;
				margin:0 3px 7px 4px;
				width:150px;
				height:33px;
				font-size:28pt;
				text-align:center;
			}


		ul#servicelist li {
			height:30px;
			line-height:30px;
			padding: 10px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
			ul#servicelist li div#leftlist {
				height:100%;
				width:398px;
				float:left;
				padding: 0 0 0 10px;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			
			ul#servicelist li div#rightlist {
				height:100%;
				width:44px;
				float:right;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				font-size : 17pt;
				text-align:center;
			}
			
		ul#addlist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
		
		ul#modifylist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
}

/* iPad Landscape */
@media only screen and (width: 1024px) and (orientation:landscape)
{
	header {
		top:0; left:0;
		position:fixed;
		width:100%;
		z-index:2;
		padding:0;
		height: 45px;
		line-height: 45px;
		
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-top: 1px solid #000;
		border-bottom: 1px solid transparent !important;
		-webkit-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		-moz-box-shadow:	0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		box-shadow: 		0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
		background: #b0bccd; /* Old browsers */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#c1a09d), color-stop(51%,#b18885), color-stop(100%,#a2716d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Chrome10+,Safari5.1+ */
		background:    -moz-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* FF3.6+ */
		background:     -ms-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* IE10+ */
		background:      -o-linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* Opera 11.10+ */
		background:         linear-gradient(top,  #d0b7b5 0%, #c1a09d 50%, #b18885 51%, #a2716d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0bccd', endColorstr='#6d84a2',GradientType=0 ); /* IE6-9 */
		
		color: white;
		font-size: 15pt;
		font-weight: bold;
		text-shadow: #000 0 -1px 0;
		text-align: center;
	}
		header button.left {
			top:0px; left:0px;
			margin: 8px 0 0 12px;
			z-index:3;
		}
		
		header button.right {
			top:0px; right:0px;
			margin: 8px 12px 0 0;
			z-index:3;
		}
	
	section {
		top:45px; bottom:0; left:0; right:0;
		position:absolute;
		z-index:1;
		width:100%;
		background:#fff;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
		#passwordview {
			z-index:2;
			height:35%;
			width:100%;
			background:#fff;
		}
			#passwordview .box {
				z-index:3;
				position:relative;
				top:25%;
				left:125px;
				height:52px;
				width:220px;
			}
				#passwordview .box .numberbox {
					z-index:4;
					float:left;
					background-color:rgba(155,122,113,1);
					width: 45px;
					height: 45px;
					margin: 2px 4px 2px 4px;
					
					border:1px solid black;
					-webkit-border-radius: 5px;
					text-align:center;
					font-size:28pt;
					color:white;
				}
		
		#passwordinput {
			background:#fff;
			height:65%;
			width:100%;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
		}
			#passwordinput button {
				position:relative;
				margin:0 3px 7px 4px;
				width:150px;
				height:33px;
				font-size:28pt;
				text-align:center;
			}


		ul#servicelist li {
			height:30px;
			line-height:30px;
			padding: 10px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
			ul#servicelist li div#leftlist {
				height:100%;
				width:398px;
				float:left;
				padding: 0 0 0 10px;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			
			ul#servicelist li div#rightlist {
				height:100%;
				width:44px;
				float:right;
				margin-top: -1px;
				
				border: 1px solid #e7e7e7;
				-webkit-border-radius: 5px;
				background-color: rgba(223,206,205,1);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				font-size : 17pt;
				text-align:center;
			}
			
		ul#addlist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
		
		ul#modifylist li {
			height:30px;
			line-height:30px;
			padding: 5px 10px 5px 10px;
			margin-bottom: -1px;
			font-size:12pt;
		}
}